.BorTit
  border-left: 6px solid #F57C00
  padding: 3px 0px 3px 7px
  font-size: 0.8em


iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.titulo-principal.color-secundario .titulo-principal__numero
  background-color: #F7724A;
  span 
    color: $white;

.cajon-intro 
  position: relative;
  &::before
    background-color: #F68C6D;
    content: '';
    display: block;
    position: absolute;
    opacity: .21;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0%;

.cajon-tema1
  position: relative;
  &::after
    background-color: #E8E8E8;
    content: '';
    display: block;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0%;

.mibloque.bloque-texto-b.color-primario:before 
  background-color: #FEF0DC;

.mibloque2.bloque-texto-b.color-primario:before 
  background-color: #FEE7C5;

.mibloque4.bloque-texto-b.color-primario:before 
  background-color: #FDE0D7;

.mibloque5.bloque-texto-b.color-primario:before 
  background-color: #FEF0DC;
  top: 0%;
  bottom: 60%;
  left: 0%;
  right: 35%;
  

.mibloque3.bloque-texto-b.color-primario
  &::before 
    background-color: #FFE8E2 !important            
    left: 0%;
    right: 70%;

.cajon.color-acento-contenido 
  background-color: #F4F4F4
  &::before    
    background-color: #E79A81;

.tema-1 .bloque-texto-d 
  border-top: 0px solid #C0C3B0;
  position: relative;
  i     
    color: #E79A81;

.slyder-a__tipo-a .slyder-a__bullets    
  bottom: 0px;    

.slider1   
  .slyder-a__bullets__item
    border: 3px solid #9B4329
    
  .slyder-a__bullets__item--active 
    background-color: #F7724A
    border: 3px solid #9B4329

.tab1
  .tabs-a__tab
    background-color: #FEE7C5 !important
  .tabs-a__tab__selected
    z-index: 10000
    background-color: #F7724A !important
    color: white !important
    width: 100% !important
    &::before
      background-color: #F7724A !important
  .tabs-a__content-item    
    .tarjeta
      background-color: #DEDEDA

.titulo-segundo.color-secundario:after 
    border-left-color: #F7724A;

.bloque1.bloque-texto-b.color-acento-contenido:before 
    background-color: #E8E8E8;

.bloque1.bloque-texto-b:before     
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 75%;

.tema1
  .tarjeta-avatar-b
    .tarjeta--azul
      background-color: #EFEFEF;
    
    .tarjeta-avatar-b__img 
      min-width: 13%;
      max-width: 13%;

    .tarjeta
      margin-left: -7%;
      padding-left: 7%;

.tema2
  .tarjeta-avatar-b
    .tarjeta--azul
      background-color: #F6F6F6;
      border: 4px solid #F7724A
      border-radius: 60px !important
    
    .tarjeta-avatar-b__img 
      min-width: 18%;
      max-width: 18%;

    .tarjeta
      margin-left: -7%;
      padding-left: 7%;

.tema-1.cajon.color-secundario
  background-color: #FAEAE6;
  &::before 
    background-color: #EB8B70;

.pasostema2-1 
  .pasos-a__numero::after 
      border-left-color: #F7724A !important    
  .pasos-a__circle 
      background-color: #F7724A !important
  .pasos-a__linea__esquina__linea
      border-color: #F7724A !important
  .hor-line 
    border-top-color: #F7724A !important

  

  
.banner-interno__titulo__icono
  background-color: #FFBA5B !important
  border-radius: 0px !important

.banner-interno__titulo__icono i
  color: #12263F !important


.espe
  .titulo-segundo.color-secundario:after 
    border-left-color: #FFBA5B !important

.acti.boton
  background-color: #FFBA5B !important

.acti.boton *  
    color: #12263F !important

.mitab .tabs-a__tab__selected:before
  left: -10px









 
    








