.BorTit
  border-left: 6px solid #F57C00
  padding: 3px 0px 3px 7px
  font-size: 0.8em


iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.titulo-principal.color-secundario .titulo-principal__numero
  background-color: #F7724A;
  span 
    color: $white;

.cajon-intro 
  position: relative;
  &::before
    background-color: #F68C6D;
    content: '';
    display: block;
    position: absolute;
    opacity: .21;
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0%;




